html {
  box-sizing: border-box;
}

// html.modal-open {
//   overflow: hidden;
// }

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include lab-medium;
  color: $light-black;
  font-size: 14px;
  line-height: 1.4;
  min-width: 320px;
}

.container1300 {
  max-width: 1300px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}

img {
  max-width: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

input,
button {
  border: none;
  outline: none;
}

button {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
