@import '../breakpoints';


.footer {
    // letter-spacing: 0.5px;

    @include initialMin {
        width: 100%;
        text-align: center;
        line-height: 15px;
        color: $white;
        background-color: $light-black;
        padding: 32px 0 37px;
        &__title {
            @include opensans-regular;
            font-size: 24px;
        }
    }

    
    @include endSquareVW{
        margin: 0px 12px;
        width: auto;
    }
    

    @include transformation{
        line-height: 20px;
        padding: 28px 0 37px;
        &__title {
            @include opensans-regular;
            
        }
    }
}

